body{
  background: rgb(2,0,36);
  background: linear-gradient(267deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}


.navbar h1{
    color: aliceblue;
}

.searchBtn{
  color: aliceblue;
  background-color: rgba(9,9,121,1);
  border: white solid 1px;
}
.cityBtn{
display: flex;
flex-direction: column;
}

.cityBtn button{
  color: aliceblue;
background-color: rgba(9,9,121,1);
border: white solid 2px;
margin: 5px;
/* border-radius: 75%; */
  }

button:hover {
    box-shadow: 0 0 6px 6px rgb(192, 190, 190);
  }
  
  button:hover h3 {
    display: block
  }
  
  .current-data h2{
    color: aliceblue;
  }

  button:active {
    font-size: 120%;
    box-shadow: 0 0 10px #000 inset;
  }

  .container-current{
    color: black;
    background: rgb(2,0,36);
    background: linear-gradient(267deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgb(0, 173, 253) 81%);
    background-image: url("./cloud3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   float: right;
   border: solid black 2px;
   /* margin-right: 40px; */
   margin-top: 2%;
   margin-left: 2%;
   font-size: large;
   font-weight: bold;
    order:2;
  }
  .form-label{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
  }
  #five-day-header{
    color: aliceblue;
    margin-right: 40px;
    margin-top: 15px;
  }
  .city-section{
    order: 1 !important;
    margin-left: 1%;
  }
  
  .container-five-day{
    float: right;
    margin-right: 40px;
    margin-top: 15px;
   }

  .current-data{
    margin-left: 5px;
    padding: 1%;
  }

.date-box{
  border-bottom: 2px  solid white;
}

  .card{
    color: aliceblue;
    background-color:rgba(9,9,121,1);
    border: 2px solid white;
    /* border-radius: 10%; */
    box-shadow: 1px white;
    /* align-items: center; */
  }

  .full-page-card{
    border: 1px solid black;
    margin: 10px;
  }

  #icon{
    height: 30%;
    width: 50%;
  }
.main-box{
  display: flex;
}
  @media screen and (max-width:1451px) {
    .city-section{
      order: 1 !important;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 87%;
      justify-content: center;
      align-self: center;
    }
    .btn, .cityBtn, .form-control, .searchBtn{
      justify-content: center;
      align-items: center;
    }
    .container-current{
      order: 2 !important;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 85%;
    }
    
    .container-five-day{
      order: 3 !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      float: left;
    }

    .main-box{
      flex-direction: column;
    }
    .card{
      align-items: center;
      width: 90%;
      margin-bottom: 2%;
    }

    #five-day-header{
      float: left;
    }
  }