body{
  background: rgb(2,0,36);
  background: linear-gradient(267deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}


.navbar h1{
    color: aliceblue;
}

.searchBtn{
  color: aliceblue;
  background-color: rgba(9,9,121,1);
  border: white solid 1px;
}
.cityBtn{
display: flex;
flex-direction: column;
}

.cityBtn button{
  color: aliceblue;
background-color: rgba(9,9,121,1);
border: white solid 2px;
margin: 5px;
/* border-radius: 75%; */
  }

button:hover {
    box-shadow: 0 0 6px 6px rgb(192, 190, 190);
  }
  
  button:hover h3 {
    display: block
  }
  
  .current-data h2{
    color: aliceblue;
  }

  button:active {
    font-size: 120%;
    box-shadow: 0 0 10px #000 inset;
  }

  .container-current{
    color: black;
    background: rgb(2,0,36);
    background: linear-gradient(267deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgb(0, 173, 253) 81%);
   float: right;
   border: solid black 2px;
   margin-right: 40px;
   margin-top: 15px;
   font-size: large;
   font-weight: bold;

  }
  .form-label{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
  }
  #five-day-header{
    color: aliceblue;
    margin-right: 40px;
    margin-top: 15px;
  }

  .container-five-day{
    float: right;
    margin-right: 40px;
    margin-top: 15px;
   }

  .current-data{
    margin-left: 5px;
  }

  .card{
    color: aliceblue;
    background-color:rgba(9,9,121,1);
    border: 2px solid white;
    border-radius: 10%;
  }